body {
    background: #d5d5d5;
    font-family: Arial;
    color: #FAFAFA;
    text-transform: uppercase;
}

.scoreboard {
    background: #333;
    width: 1000px;
    margin: 70px auto;
    box-shadow: 0 4px 0px #333;
    border-radius: 15px;

}

.header {
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 2px #ffffff;
}

.header h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: normal;
}


.player {
    display: flex;
    font-size: 1.2em;
    border-bottom: solid 2px #ffffff;
    letter-spacing: 2px;
}


.player-name:hover .remove-player {
    visibility: visible;
}

.player-name {
    flex-grow: 1;
    padding: 20px 10px 10px 10px;
}

.player-score {
    width: 190px;
    background: #fafafa;
}

.counter {
    display: flex;
}

.counter-action {
    border: none;
    font-weight: bold;
    color: #000000;
    display: block;
    padding: 15px 7px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.counter-action.increment {
    background: #ffffff;
}

.counter-action.increment:hover {
    background: #c7ffbb;
    cursor: pointer;
}

.counter-action.decrement {
    background: #ffffff;
}

.counter-action.decrement:hover {
    background: #c44442;
    cursor: pointer;
}

.counter-score {
    flex-grow: 1;
    background: #000000;
    color: #FAFAFA;
    text-align: center;
    font-family: monospace;
    padding: 10px;
    font-size: 1em;
}

